.dishes{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 105px;
    background-color: aliceblue;
    /* margin: 90px; */
    height: 500px;
    width: 100%;
}

.dish{
    height: 350px;
    width: 250px;
    border-radius: 10px;
}

@media (max-width: 768px) {
  .dishes {
    flex-direction: column;
    gap: 20px;
    margin-top: 100px;
    height: 100%;
    width: 100%;
  }

  .dish {
    height: 250px;
  }
}